
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

header.banner-header {
    background-image: url('../Images/Banner_1.avif');
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 42px;
    color: #ff8a66;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-links li {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 40px;
}

.nav-links a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 24px;
}

.biriyani {
    background-image: url('../Images/Pic_1.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.biriyani::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.biriyani-content {
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.button-container {
    margin-top: 450px;
}

.start-cooking-button {
    background-color: #ff5722;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.start-cooking-button:hover {
    background-color: #e64a19;
}


.image-gallery {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    padding: 0;
    flex-wrap: wrap; 
}

.image-container {
    position: relative;
    flex: 1;
    margin: 0 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image-container:hover {
    transform: scale(1.05);
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links li a {
    color: white;
    text-decoration: none;
}

.social-links li a:hover {
    text-decoration: underline;
}

header {
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    padding: 100px;
    position: relative;
}

.form-section {
    flex: 1;
    position: relative;
    background-color: rgba(231, 200, 160, 0.5);
    border-radius: 10px;
    padding: 10px;
    color: rgb(9, 9, 8);
    margin-right: 50px;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.zoom-image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.zoom-image:hover {
    transform: scale(1.5);
}

label {
    display: block;
    margin-bottom: 10px;
}

.radio-label {
    display: inline;
}

fieldset {
    border-radius: 2px;
    margin-bottom: 1px;
}

.user-message {
    width: 50%;
    color: orange;
    font-size: 18px;
    padding: 10px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 2px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="checkbox"], input[type="radio"] {
    transform: scale(1);
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 16px;
    font-size: 20px;
    background-color: #e7c8a0;
    color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #ed7f11;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin-bottom: 10px;
}

.nav-links a.active {
    color: #ff5733;
    font-weight: bold;
    border-bottom: 2px solid #ff5733;
}
@media only screen and (max-width: 430px) {
    .logo img {
        width: 70px;
        height: 70px;
    }

    .logo h1 {
        font-size: 28px;
    }

    .nav-links a {
        font-size: 18px;
    }
    .nav-links li {
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .button-container {
        margin-top: 350px;
    }

    .biriyani {
        height: 80vh;
    }


    .image-gallery {
        flex-direction: column;
    }

    .image-container {
        margin-bottom: 20px;
    }

    .main-content {
        flex-direction: column;
        padding: 50px;
    }

    .form-section {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .image-gallery {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-content {
        flex-direction: column;
        padding: 50px;
    }

    .form-section {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
